@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto+Slab&display=swap');

$dark-grey: #55505C;
$yellow: #FAF33E;
$xsmall-max-width: 420px;
$medium-min-width: 750px;
$large-min-width: 1000px;

* {
  margin: 0;
  padding: 0;
}

header {
  background-color: $yellow;
  margin: 0;
  padding: 20px 0 10px 0;
}

#aboutMe {
  background-color: $yellow;
  padding: 20px;
}

#projects, #offer {
  background-color: $dark-grey;
  padding-bottom: 20px;
}

#offer {
  padding: 20px;
}

#resume, #contact {
  background-color: $yellow;
  padding-bottom: 20px;
}

#contact {
  padding: 20px;
}

@media all and (min-width: $medium-min-width) {
  #project-icons {
    display: block;
    margin: 40px;
    text-align: center;
  }
}

@media all and (min-width: $large-min-width) {

}
