@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto+Slab&display=swap');

$background-color: #FAF33E;
$background-color2: #55505C;
$background-color3: #7FC6A4;
$header-color: #55505C;
$paragraph-color: #55505C;
$box-border-color: #5D737E;

* {
  margin: 0;
  padding: 0;
}

header {
  background-color: $background-color;
  margin: 0;
  padding: 20px 0 10px 0;
}

#aboutMe {
  background-color: $background-color;
  padding: 20px;
}

#project-icons {
  display: grid;
  grid-template-columns: repeat (3, 1fr );
  grid-template-rows: repeat (3, 1fr );
  align-items: center;
  align-content: center;
}

#projects, #offer {
  background-color: $background-color2;
  padding: 20px;
}

#resume, #contact {
  background-color: $background-color;
  padding: 20px;
}
