@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto+Slab&display=swap');

$background-color: #FAF33E;
$header-color: #55505C;
$paragraph-color: #55505C;
$box-border-color: #7FC6A4;



html {
  background-color: $background-color;
}
