h1, h2 {
  text-align: center;
  margin: 0;
  color: $header-color;
  font-family: 'Roboto Slab', serif;
}

main p {
  text-align: center;
  margin: 10px;
  font-family: 'Montserrat', sans-serif;
  color: $paragraph-color;
}